extends layout 

block content
	h1 Login
	p
	|Email:
	input#username(type='email', required, placeholder='example@this.com')
	p
	|Password
	input#password(type='password', required)

	div
		input(type='submit', value='Log in')